//
* {

   box-sizing: border-box;

   font-size: 18px;

   margin : 0;
   padding: 0;
}

:root {

   font-size : 62.5%;
   background: blue;
}

body {

   background-color: #fff;
   margin          : 0 auto;
}

a,
li {

   list-style     : none;
   text-decoration: none;
}

a {
   cursor: pointer;
}