@use '../../abstracts/'as var;

@mixin us-one {

   #us-one {

      display: grid;
      grid-template-areas:
         'title title'
         'content image'
      ;

      width: 100%;

      padding: 15.5rem 0 0 0;

      overflow: visible;

      .us-one__title {

         grid-area: title;

         @include var.Overpass-font;

         color    : var.$Very-dark-blue;
         font-size: 3.9rem;
         letter-spacing: -0.03ch;

         margin       : 0 auto;
         margin-bottom: 10.8rem;
      }

      .us-one__image-box {

         grid-area: image;

         display    : flex;
         align-items: center;

         width    : max(40vw, 70rem);
         max-width: 90rem;
         height   : 40rem;

         filter: drop-shadow(0 0 50px #0002);

         margin-right: -5rem;
         overflow    : visible;
      }

      .us-one__content {

         grid-area: content;

         @include var.Overpass-font;

         margin: -.5rem 8.8rem 0 16.5rem;

         h3 {

            color    : var.$Very-dark-blue;
            font-size: 2.8rem;

            margin-bottom: 2.5rem;
         }

         p {

            color         : var.$Very-dark-grayish-blue;
            font-size     : max(16px, 1.612rem);
            font-weight   : 600;
            line-height   : 2.7ch;
            word-spacing  : .06ch;
            letter-spacing: .02ch;

            margin-bottom: 7.5rem;
         }
      }
   }

   @media only screen and (max-width: 1100px) {

      #us-one {

         .us-one__content {

            margin: -.5rem 0 0 5rem;

            p {

               font-size: max(14px, 1.4rem);
            }
         }
      }
   }

   @media only screen and (max-width: 850px) {

      #us-one {

         grid-template-areas:
            'title'
            'image'
            'content'
         ;
         place-items: center;

         .us-one__title {

            padding: 0 0 5rem 0;
            margin : 0;

            font-size: clamp(28px, 9vw, 4rem);
         }

         .us-one__image-box {

            width        : 100%;
            max-width    : none;
            height       : auto;
            margin-bottom: 5rem;

            img {

               width: min(60rem, 100%);

               margin: 0 auto;
            }
         }

         .us-one__content {

            padding: 3rem;
            margin : 0;

            h3 {

               font-size: 3rem;
            }

            p {
               font-size: 2rem;
            }
         }
      }
   }
}