* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  background: blue;
}

body {
  background-color: #fff;
  border: solid 1px red;
  margin: 0 auto;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

header#header {
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 0 0 0 10rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  min-height: 80vh;
  height: 60rem;
}
header#header .header--wrapper {
  background: url(../assets/bg-pattern-intro.svg) 220% no-repeat;
  background-position: -43.5rem -133.8rem;
  filter: drop-shadow(-1rem 0 2rem rgba(0, 0, 0, 0.05));
  border-radius: 0 0 0 10rem;
  height: 100%;
}
header#header .header--wrapper .header--wrapper-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: min(144rem, 100%);
  padding: 6rem 16.5rem;
  margin: 0 auto;
}
header#header .header__navigation {
  display: flex;
}
header#header #header__navigation--logo {
  display: flex;
  width: 11.7rem;
  margin-right: 5rem;
}
header#header #header__navigation--logo img {
  width: 100%;
  margin: auto 0;
}
header#header .header__navigation--menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header#header .header__navigation--menu-options {
  display: flex;
  align-items: center;
  min-height: 100%;
}
header#header .header__navigation--menu-options > li {
  padding: 1.6rem 1.8rem 1.4rem 1.8rem;
  position: relative;
}
header#header .header__navigation--menu-options > li > a {
  color: white;
  font-size: 1.6rem;
  opacity: 0.8;
  position: relative;
  transition: opacity, text, 0.3s;
}
header#header .header__navigation--menu-options > li > a::after {
  content: "";
  background: url(../assets/icon-arrow-light.svg) center no-repeat;
  display: block;
  width: 2rem;
  min-height: 2rem;
  position: absolute;
  top: 60%;
  right: -2.3rem;
  transform: translateY(-50%);
  transition: transform, position, 0.3s;
}
header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.05);
  height: 0;
  min-width: 17rem;
  position: absolute;
  top: 5rem;
  overflow: hidden;
  transition: height, position, 0.3s;
}
header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown ul {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  width: 100%;
  padding: 2rem;
}
header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown ul a {
  color: black;
  font-size: 1.6rem;
  padding: 1rem 100% 1rem 0;
  margin-bottom: 0.5rem;
  transition: opacity, font-weight, 0.3s ease;
  opacity: 0.8;
}
header#header .header__navigation--menu-options > li .dropdown-one {
  left: -2.5rem;
}
header#header .header__navigation--menu-options > li .dropdown-two {
  left: -1.6rem;
}
header#header .header__navigation--menu-options > li .dropdown-three {
  left: -1.6rem;
}
header#header .header__navigation--menu-options > li:hover > a {
  opacity: 1;
  text-decoration: underline;
}
header#header .header__navigation--menu-options > li:hover > a:after {
  top: -10%;
  transform: rotate(-180deg);
}
header#header .header__navigation--menu-options > li:hover .header__navigation--menu__dropdown {
  top: 7rem;
}
header#header .header__navigation--menu-options > li:hover .header__navigation--menu__dropdown ul a:hover {
  opacity: 1;
  font-weight: 700;
}
header#header .header__navigation--menu-options > li:hover .dropdown-one {
  height: 21rem;
}
header#header .header__navigation--menu-options > li:hover .dropdown-two {
  height: 18rem;
}
header#header .header__navigation--menu-options > li:hover .dropdown-three {
  height: 15rem;
}
header#header .header__navigation--menu-options > li + li {
  padding-left: 3rem;
}
header#header button#menuButton {
  display: none;
}
header#header .header__navigation--auth-options {
  display: flex;
}
header#header .header__navigation--auth-options a {
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transition: 0.3s;
  transition-property: color, background, box, transform;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
}
header#header .header__navigation--auth-options a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}
header#header .header__navigation--auth-options a:hover {
  background: #ff7a85;
  color: white;
}
header#header .header__navigation--auth-options a + a {
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
}
header#header .header__content {
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
header#header .header__content h2 {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}
header#header .header__content br {
  display: none;
}
header#header .header__content span {
  color: #fffa;
  font-weight: 400;
}
header#header .header__content .CTA__buttons {
  display: flex;
  margin-top: 4.5rem;
}
header#header .header__content .CTA__buttons a {
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transition: 0.3s;
  transition-property: color, background, box, transform;
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  padding-top: 1.5rem;
  font-weight: 900;
}
header#header .header__content .CTA__buttons a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}
header#header .header__content .CTA__buttons a:hover {
  background: #ff7a85;
  color: white;
}
header#header .header__content .CTA__buttons a + a {
  border: solid 0.1rem white;
  color: white;
  Background: none;
}
header#header .header__content .CTA__buttons a + a:hover {
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
}

@media only screen and (min-width: 1980px) {
  header#header .header--wrapper {
    background-position: center;
  }
}
@media only screen and (max-width: 1100px) {
  header#header .header--wrapper .header--wrapper-content {
    padding: 5rem;
  }
}
@media only screen and (max-width: 850px) {
  header#header .header--wrapper {
    background-size: 400%;
    background-position: -100vw -140vw;
  }
  header#header .header--wrapper .header--wrapper-content {
    padding: 6rem clamp(1rem, 5vw, 10rem);
  }
  header#header .header__navigation--menu {
    border-radius: 0.8rem;
    background: white;
    color: black;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    width: min(90%, 50rem);
    transition: 0.2s;
    transition-property: top, opacity, visibility;
    top: 8rem;
    opacity: 0;
    visibility: hidden;
  }
  header#header .header__navigation--menu-options {
    flex-direction: column;
  }
  header#header .header__navigation--menu-options > li {
    width: 90%;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2rem 0;
  }
  header#header .header__navigation--menu-options > li > a {
    opacity: 1;
    font-size: 1.8rem;
    color: inherit;
  }
  header#header .header__navigation--menu-options > li > a::after {
    background: url(../assets/icon-arrow-dark.svg) center no-repeat;
  }
  header#header .header__navigation--menu-options > li:hover * {
    top: 0;
  }
  header#header .header__navigation--menu-options > li:hover a {
    text-decoration: none;
  }
  header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
  header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown ul {
    background: #0001;
    padding: 3rem;
    min-height: 100%;
  }
  header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown li {
    display: flex;
  }
  header#header .header__navigation--menu-options > li .header__navigation--menu__dropdown li a {
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }
  header#header .header__navigation--menu-options li + li {
    padding-left: 0;
  }
  header#header .header__navigation--auth-options {
    flex-direction: column;
  }
  header#header .header__navigation--auth-options a {
    font-size: inherit;
    color: black;
    margin: 1rem auto;
  }
  header#header .header__navigation--auth-options a:hover {
    color: initial;
    background: initial;
  }
  header#header .header__navigation--auth-options a + a {
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    color: white;
    margin: 1rem auto;
  }
  header#header .header__navigation--auth-options a + a:hover {
    background: white;
    border: solid 0.1rem #ff7a85;
    color: black;
  }
  header#header button#menuButton {
    background: transparent;
    display: block;
    border: none;
    width: 4.5rem;
    min-height: 4.5rem;
    position: absolute;
    top: 6rem;
    right: clamp(1rem, 5vw, 10rem);
    z-index: 2000;
  }
  header#header button#menuButton::before {
    content: "";
    background: #fff;
    border-radius: 0.5rem;
    width: 4rem;
    min-height: 0.5rem;
    position: absolute;
    top: 30%;
    left: 5%;
    transition: transform 0.3s;
  }
  header#header button#menuButton::after {
    content: "";
    background: #fff;
    border-radius: 0.5rem;
    width: 4rem;
    min-height: 0.5rem;
    position: absolute;
    bottom: 30%;
    left: 5%;
    transition: 0.3s;
  }
  header#header .header__content {
    text-align: center;
  }
  header#header .header__content h2 {
    font-size: clamp(3rem, 15vw, 5rem);
    margin-bottom: 1.5rem;
  }
  header#header .header__content br {
    display: block;
  }

  .onScreen header#header .header__navigation--menu {
    top: 12rem;
    opacity: 1;
    visibility: visible;
  }
  .onScreen header#header button#menuButton {
    position: fixed;
  }
  .onScreen header#header button#menuButton::before {
    transform: rotate(225deg);
    top: 45%;
  }
  .onScreen header#header button#menuButton::after {
    transform: rotate(315deg);
    width: 4rem;
    bottom: 45%;
    left: 4%;
  }
}
@media only screen and (max-width: 350px) {
  header#header .header--wrapper .header--wrapper-content {
    padding: 4rem 2rem;
  }
  header#header button#menuButton {
    top: 4rem;
  }
  header#header .header__content .CTA__buttons {
    flex-direction: column;
    margin-top: 2rem;
  }
  header#header .header__content .CTA__buttons a {
    margin: 0.5rem auto;
  }
}
/**/

/*# sourceMappingURL=app.css.map */
