* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  background: blue;
}

body {
  width: 144rem;
  background-color: #fff;
  margin: 0 auto;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

header#header {
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 0 0 0 10rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  min-height: 60rem;
}
header#header .header-wrapper {
  background: url(../assets/bg-pattern-intro.svg) 220% no-repeat;
  background-position: -43.5rem -133.8rem;
  filter: drop-shadow(-1rem 0 2rem rgba(0, 0, 0, 0.05));
  border-radius: 0 0 0 10rem;
  height: 100%;
}
header#header .header-wrapper .header-wrapper__content {
  display: flex;
  flex-direction: column;
  height: 60rem;
  width: min(144rem, 100%);
  padding: 4.5rem 16.5rem;
  margin: 0 auto;
}
header#header .header__menu {
  display: flex;
}
header#header #header__logo {
  display: flex;
  width: 11.7rem;
  margin-right: 5rem;
}
header#header #header__logo img {
  width: 100%;
  margin: auto 0;
}
header#header .header__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
header#header .header__options {
  display: flex;
  align-items: center;
  min-height: 100%;
}
header#header .header__options > li {
  padding: 3rem 1.8rem 3rem 1.8rem;
  position: relative;
}
header#header .header__options > li > a {
  color: white;
  font-size: 1.6rem;
  opacity: 0.8;
  position: relative;
  transition: opacity, text, 0.3s;
}
header#header .header__options > li > a::after {
  content: "";
  background: url(../assets/icon-arrow-light.svg) center no-repeat;
  display: block;
  width: 2rem;
  min-height: 2rem;
  position: absolute;
  top: 60%;
  right: -2.3rem;
  transform: translateY(-50%);
  transition: transform, position, 0.3s;
}
header#header .header__options > li .header__dropdown {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.05);
  height: 0;
  min-width: 17rem;
  position: absolute;
  top: 5rem;
  overflow: hidden;
  transition: height, position, 0.3s;
}
header#header .header__options > li .header__dropdown ul {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  width: 100%;
  padding: 2rem;
}
header#header .header__options > li .header__dropdown ul a {
  color: black;
  font-size: 1.6rem;
  padding: 1rem 100% 1rem 0;
  margin-bottom: 0.5rem;
  transition: opacity, font-weight, 0.3s ease;
  opacity: 0.8;
}
header#header .header__options > li .dropdown-one {
  left: -2.5rem;
}
header#header .header__options > li .dropdown-two {
  left: -1.6rem;
}
header#header .header__options > li .dropdown-three {
  left: -1.6rem;
}
header#header .header__options > li:hover > a {
  opacity: 1;
  text-decoration: underline;
}
header#header .header__options > li:hover > a:after {
  top: -10%;
  transform: rotate(-180deg);
}
header#header .header__options > li:hover .header__dropdown {
  top: 8rem;
}
header#header .header__options > li:hover .header__dropdown ul a:hover {
  opacity: 1;
  font-weight: 700;
}
header#header .header__options > li:hover .dropdown-one {
  height: 21rem;
}
header#header .header__options > li:hover .dropdown-two {
  height: 18rem;
}
header#header .header__options > li:hover .dropdown-three {
  height: 15rem;
}
header#header .header__options > li + li {
  padding-left: 3rem;
}
header#header button#menu__button {
  display: none;
}
header#header .header__auth-options {
  display: flex;
}
header#header .header__auth-options a {
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transition: 0.3s;
  transition-property: color, background, box, transform;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
}
header#header .header__auth-options a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}
header#header .header__auth-options a:hover {
  background: #ff7a85;
  color: white;
}
header#header .header__auth-options a + a {
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
}
header#header .header__content {
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 650;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
header#header .header__content h2 {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}
header#header .header__content br {
  display: none;
}
header#header .header__content span {
  color: #fffa;
  font-weight: 400;
}
header#header .header__content .CTA__buttons {
  display: flex;
  margin-top: 4.5rem;
}
header#header .header__content .CTA__buttons a {
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transition: 0.3s;
  transition-property: color, background, box, transform;
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  padding-top: 1.5rem;
  font-weight: 900;
}
header#header .header__content .CTA__buttons a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}
header#header .header__content .CTA__buttons a:hover {
  background: #ff7a85;
  color: white;
}
header#header .header__content .CTA__buttons a + a {
  border: solid 0.1rem white;
  color: white;
  Background: none;
}
header#header .header__content .CTA__buttons a + a:hover {
  margin-left: 1rem;
  background: white;
  color: #ff525d;
  font-weight: 700;
}

@media only screen and (min-width: 1980px) {
  header#header .header-wrapper {
    background-position: center;
  }
}
@media only screen and (max-width: 1100px) {
  header#header .header-wrapper .header-wrapper__content {
    padding: 5rem;
  }
}
@media only screen and (max-width: 850px) {
  header#header .header-wrapper {
    background-size: 400%;
    background-position: -100vw -140vw;
  }
  header#header .header-wrapper .header-wrapper__content {
    padding: 6rem clamp(1rem, 5vw, 10rem);
  }
  header#header .header__navigation {
    border-radius: 0.8rem;
    background: white;
    color: black;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    width: min(90%, 50rem);
    transition: 0.2s;
    transition-property: top, opacity, visibility;
    top: 8rem;
    opacity: 0;
    visibility: hidden;
  }
  header#header .header__options {
    flex-direction: column;
  }
  header#header .header__options > li {
    width: 90%;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2rem 0;
  }
  header#header .header__options > li > a {
    opacity: 1;
    font-size: 1.8rem;
    color: inherit;
  }
  header#header .header__options > li > a::after {
    background: url(../assets/icon-arrow-dark.svg) center no-repeat;
  }
  header#header .header__options > li:hover * {
    top: 0;
  }
  header#header .header__options > li:hover a {
    text-decoration: none;
  }
  header#header .header__options > li .header__dropdown {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
  header#header .header__options > li .header__dropdown ul {
    background: #0001;
    padding: 3rem;
    min-height: 100%;
  }
  header#header .header__options > li .header__dropdown ul li {
    display: flex;
  }
  header#header .header__options > li .header__dropdown ul li a {
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }
  header#header .header__options li + li {
    padding-left: 0;
  }
  header#header .header__auth-options {
    flex-direction: column;
  }
  header#header .header__auth-options a {
    font-size: inherit;
    color: black;
    margin: 1rem auto;
  }
  header#header .header__auth-options a:hover {
    color: initial;
    background: initial;
  }
  header#header .header__auth-options a + a {
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    color: white;
    margin: 1rem auto;
  }
  header#header .header__auth-options a + a:hover {
    background: white;
    border: solid 0.1rem #ff7a85;
    color: black;
  }
  header#header button#menu__button {
    background: transparent;
    display: block;
    border: none;
    width: 4.5rem;
    min-height: 4.5rem;
    position: absolute;
    top: 6rem;
    right: clamp(1rem, 5vw, 10rem);
    z-index: 2000;
  }
  header#header button#menu__button::before {
    content: "";
    background: #fff;
    border-radius: 0.5rem;
    width: 4rem;
    min-height: 0.5rem;
    position: absolute;
    top: 30%;
    left: 5%;
    transition: transform 0.3s;
  }
  header#header button#menu__button::after {
    content: "";
    background: #fff;
    border-radius: 0.5rem;
    width: 4rem;
    min-height: 0.5rem;
    position: absolute;
    bottom: 30%;
    left: 5%;
    transition: 0.3s;
  }
  header#header .header__content {
    text-align: center;
  }
  header#header .header__content h2 {
    font-size: clamp(3rem, 15vw, 5rem);
    margin-bottom: 1.5rem;
  }
  header#header .header__content br {
    display: block;
  }

  .onScreen header#header .header__navigation {
    top: 12rem;
    opacity: 1;
    visibility: visible;
  }
  .onScreen header#header button#menu__button {
    position: fixed;
  }
  .onScreen header#header button#menu__button::before {
    transform: rotate(225deg);
    top: 45%;
  }
  .onScreen header#header button#menu__button::after {
    transform: rotate(315deg);
    width: 4rem;
    bottom: 45%;
    left: 4%;
  }
}
@media only screen and (max-width: 350px) {
  header#header .header-wrapper .header-wrapper__content {
    padding: 4rem 2rem;
  }
  header#header button#menu__button {
    top: 4rem;
  }
  header#header .header__content .CTA__buttons {
    flex-direction: column;
    margin-top: 2rem;
  }
  header#header .header__content .CTA__buttons a {
    margin: 0.5rem auto;
  }
}
#us-one {
  overflow-x: hidden;
}
#us-one .us-one-wrapper {
  display: grid;
  width: min(144rem, 100%);
  padding: 15.5rem 0 0 0;
  overflow: visible;
  grid-template-areas: "title title" "content image";
  padding-bottom: clamp(10rem, 15vw, 32rem);
}
#us-one .us-one__title {
  font-family: "Overpass", sans-serif;
  font-weight: 650;
  grid-area: title;
  color: #1f3f5b;
  font-size: 3.9rem;
  letter-spacing: -0.03ch;
  margin: 0 auto;
  margin-bottom: 10.8rem;
}
#us-one .us-one__image-box {
  grid-area: image;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 50px #0002);
  height: 40rem;
  margin-right: 1rem;
  overflow: visible;
  width: max(50vw, 50rem);
  max-width: 64rem;
}
#us-one .us-one__content {
  font-family: "Overpass", sans-serif;
  font-weight: 650;
  grid-area: content;
  margin: -0.5rem 8.8rem 0 16.5rem;
}
#us-one .us-one__content h3 {
  color: #1f3f5b;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}
#us-one .us-one__content p {
  color: #4b5862;
  font-size: max(16px, 1.612rem);
  font-weight: 600;
  line-height: 2.7ch;
  word-spacing: 0.06ch;
  letter-spacing: 0.02ch;
  margin-bottom: 7.5rem;
}

@media only screen and (max-width: 1150px) {
  #us-one .us-one__content {
    margin: -0.5rem 0 0 4rem;
  }
  #us-one .us-one__content p {
    font-size: max(14px, 1.4rem);
  }
}
@media only screen and (max-width: 900px) {
  #us-one .us-one-wrapper {
    grid-template-areas: "title" "image" "content";
    place-items: center;
  }
  #us-one .us-one__title {
    padding: 0 2rem 5rem 2rem;
    margin: 0;
    font-size: clamp(28px, 9vw, 4rem);
  }
  #us-one .us-one__image-box {
    width: 100%;
    max-width: none;
    height: auto;
    margin-bottom: 5rem;
  }
  #us-one .us-one__image-box img {
    width: min(60rem, 100%);
    margin: 0 auto;
  }
  #us-one .us-one__content {
    padding: 3rem;
    margin: 0;
  }
  #us-one .us-one__content h3 {
    font-size: 3rem;
  }
  #us-one .us-one__content p {
    font-size: 2rem;
  }
}
#us-two {
  background: linear-gradient(to right, #2c2d3f, #3f4164);
  border-radius: 0 10rem 0 10rem;
  margin: -3.5rem 0 5rem 0;
}
#us-two .us-two-wrapper {
  background: url(../assets/bg-pattern-circles.svg) no-repeat -21rem -50rem;
  background-size: 70%;
  border-radius: 0 10rem 0 10rem;
  display: flex;
  width: min(144rem, 100%);
  padding: 3rem 12.5rem 0 12.5rem;
}
#us-two .us-two__image {
  height: 38rem;
  display: flex;
  place-items: center;
  margin-bottom: -1rem;
}
#us-two .us-two__content {
  font-family: "Overpass", sans-serif;
  font-weight: 650;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  margin-left: 1rem;
}
#us-two .us-two__content h2 {
  font-size: 3.8rem;
  margin: -1rem 0 2rem 0;
}
#us-two .us-two__content p {
  color: #c8c8cb;
  font-weight: 400;
  font-size: max(16px, 1.7rem);
  line-height: 2.5ch;
  word-spacing: 0.01ch;
  padding-right: 0.5rem;
}

@media only screen and (max-width: 1300px) {
  #us-two .us-two-wrapper {
    padding: 2rem;
  }
  #us-two .us-two__content {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 950px) {
  #us-two {
    overflow-y: visible;
  }
  #us-two .us-two-wrapper {
    flex-direction: column;
    margin-top: 10rem;
  }
  #us-two .us-two__image {
    margin: -15rem 0 clamp(2rem, 10vw, 12rem) 0;
    width: 100%;
  }
  #us-two .us-two__image img {
    width: min(50rem, 100%);
    margin: 0 auto;
  }
  #us-two .us-two__content {
    padding: 0;
    padding-bottom: 10rem;
  }
  #us-two .us-two__content h2 {
    font-size: 3rem;
  }
}
#us-three {
  padding-top: 15rem;
  margin-top: 6rem;
  overflow-x: hidden;
}
#us-three .us-three-wrapper {
  display: grid;
  width: min(144rem, 100%);
  padding: 15.5rem 0 0 0;
  overflow: visible;
  grid-template-areas: "image content";
  padding: 10rem 0 clamp(10rem, 15vw, 20rem) 0;
}
#us-three .us-three__image-box {
  grid-area: image;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 50px #0002);
  height: 40rem;
  margin-right: 1rem;
  overflow: visible;
  width: max(40vw, 50rem);
  max-width: 65rem;
  transform: translateX(-27.9rem);
}
#us-three .us-three__content {
  margin: -0.5rem 11rem 0 11.8rem;
  padding-right: 2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 650;
  grid-area: content;
}
#us-three .us-three__content h3 {
  color: #1f3f5b;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}
#us-three .us-three__content p {
  color: #4b5862;
  font-size: max(16px, 1.612rem);
  font-weight: 600;
  line-height: 2.7ch;
  word-spacing: 0.06ch;
  letter-spacing: 0.02ch;
  margin-bottom: 7.5rem;
}

@media only screen and (min-width: 1400px) {
  #us-three .us-three__content {
    padding-right: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  #us-three .us-three__image-box {
    transform: translateX(-45rem);
  }
  #us-three .us-three__content {
    margin: -0.5rem 0 0 -5rem;
  }
  #us-three .us-three__content p {
    font-size: max(14px, 1.4rem);
  }
}
@media only screen and (max-width: 900px) {
  #us-three {
    padding: 0;
  }
  #us-three .us-three-wrapper {
    grid-template-areas: "image" "content";
    place-items: center;
    padding: 0;
  }
  #us-three .us-three__image-box {
    transform: translateX(0);
    width: 100%;
    max-width: none;
    height: auto;
    margin-bottom: 5rem;
  }
  #us-three .us-three__image-box img {
    width: min(60rem, 100%);
    margin: 0 auto;
  }
  #us-three .us-three__content {
    margin: 0;
    padding: 3rem;
    margin: 0;
  }
  #us-three .us-three__content h3 {
    font-size: 3rem;
  }
  #us-three .us-three__content p {
    font-size: 2rem;
  }
}
footer#footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: #25252d;
  border-radius: 0 10rem 0 0;
  color: white;
  font-weight: 400;
  margin-top: 2.8rem;
}
footer#footer .footer-wrapper {
  width: min(144rem, 100%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 7rem 16.5rem;
}
footer#footer h4 {
  font-size: max(14px, 1.6rem);
  font-weight: inherit;
  margin: 1rem 0 3rem 1rem;
}
footer#footer li {
  margin: 1.2rem 0;
}
footer#footer li a {
  margin: 1rem 0 0 1rem;
  font-size: max(14px, 1.4rem);
  padding: 1rem 0;
  opacity: 0.7;
  transition: opacity, text, 0.3s;
}
footer#footer li a:hover {
  opacity: 1;
  text-decoration: underline;
}

@media only screen and (max-width: 1150px) {
  footer#footer .footer-wrapper {
    padding: 7rem;
  }
}
@media only screen and (max-width: 900px) {
  footer#footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  footer#footer .footer__logo {
    height: 5rem;
  }
}

/*# sourceMappingURL=app.css.map */
