//
@use '../abstracts/'as var;

#us-one {

   overflow-x    : hidden;

   .us-one-wrapper {

      @include var.us-wrapper--desk;

      grid-template-areas:

         'title title'
         'content image'
      ;
      padding-bottom: clamp(10rem, 20vw, 32rem);
   }

   .us-one__title {

      @include var.Overpass-font;
      @include var.us-title--desk;
   }

   .us-one__image-box {

      @include var.us-image-box--desk;
      width    : max(42.1vw, 40rem);
      max-width: 65rem;
   }

   .us-one__content {

      @include var.Overpass-font;
      @include var.us-content--desk;

      margin: -.5rem 8.8rem 0 16.5rem;
   }
}

@media only screen and (max-width: 1150px) {

   #us-one {

      .us-one__content {

         margin: -.5rem 0 0 4rem;
         @include var.us-content--1150px;
      }
   }
}

@media only screen and (max-width: 900px) {

   #us-one {

      .us-one-wrapper {

         grid-template-areas: 'title'
            'image'
            'content'
         ;
         place-items: center;
      }

      .us-one__title {

         padding: 0 2rem 5rem 2rem;
         margin : 0;

         font-size: clamp(28px, 9vw, 4rem);
      }

      .us-one__image-box {

         @include var.us-image-box--mobile;
      }

      .us-one__content {

         @include var.us-content-mobile;
      }
   }
}